<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <p class="datitle">Create ACT Teams</p>
    <hr>
    {% if error%}
        <p> {{error}} </p>
    {% endif %}
    {% csrf_token %}
    <br>
    <table>
    {% load crispy_forms_tags %}
    {% crispy actform %}
    <!--
    <form method="get">
      <input type="submit" value="Submit">
    </form> -->
  </table>
    <br> 
    <br>
  <style>
    .datitle{
      margin-left: 10px;
      font-weight: bold;
    }
    .blockLabel {
      font-weight: bold;
      margin-left: 10px;
    }
    .ctrlHolder {
    display:inline;
    margin-left: 50px;
  }
    .ctrlHolder:after {
    content:"\a";
    white-space: pre;
}
  </style>
  </body>
</html>